<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <link rel="stylesheet" type="text/css" ßhref="../../public/css/home.css">
    <title>Basic Handlebars</title>
</head>

<body>

{{{body}}}

</body>

</html>
