<style>
table.type04 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
      margin : 20px 10px;
}
table.type04 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.type04 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
</style>

<table class="type04">
    <tr>
        <th scope="row">H</th>
        <td><a href="/">HOME</a></td>
    </tr>
    <tr>
        <th scope="row">C</th>
        <td><a href="/create">Create</a></td>
    </tr>
    <tr>
        <th scope="row">R</th>
        <td><a href="/read">Read</a></td>
    </tr>
    <tr>
        <th scope="row">U</th>
        <td><a href="/update">Update</a></td>
    </tr>
    <tr>
        <th scope="row">D</th>
        <td><a href="/delete">Delete</a></td>
    </tr>
</table>